<div class="header-container">
  <h1 class="custom-title">Generador de captchas</h1>
  <div class="button-group">
    <!-- Botones para Abrir, Guardar y Guardar como -->
    <button class="btn btn-primary btn-thin" (click)="openFile()">Abrir archivo</button>
    <button class="btn btn-secondary btn-thin" (click)="saveFile()">Guardar</button>
    <button class="btn btn-secondary btn-thin" (click)="saveAs()">Guardar como</button>
  </div>
</div>



<!--
<div class="form-floating">
  <textarea [(ngModel)]="expression" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Escribe expresiones aritmeticas</label>
</div>

<button (click)="parse()" type="button" class="btn btn-success">Calcular</button>-->



<div class="code-editor-container">
  <div class="editor">
    <div class="line-numbers" id="line-numbers"></div>
    <textarea id="codeArea" (scroll)="syncScroll()" (keyup)="updateCursorPosition($event)" (click)="updateCursorPosition($event)" placeholder="Codigo C_LANG para captchas"></textarea>
  </div>
  <div class="cursor-info">
    Línea: {{ currentLine }}, Columna: {{ currentColumn }}
  </div>
  <button class="btn btn-success" (click)="processCode()">Procesar captcha</button>
  
</div>

<router-outlet></router-outlet>
