.code-editor-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Tamaño fijo para el editor de código */
    width: 100%; /* Ajusta el ancho al tamaño del contenedor */
  }
  
  .editor {
    display: flex;
    flex: 1;
    border: 1px solid #ccc;
    position: relative;
    height: 80vh; /* Altura fija para el área del editor */
    overflow: hidden; /* Evita que el editor crezca indefinidamente */
  }
  
  .line-numbers {
    background-color: #f0f0f0;
    color: #999;
    padding: 10px 5px;
    text-align: right;
    user-select: none;
    white-space: pre; /* Asegura que los números de línea estén en líneas separadas */
    overflow: hidden; /* Para que no haya desplazamiento interno en los números */
  }
  
  textarea {
    font-family: monospace;
    padding: 10px;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    white-space: pre; /* Permite que el contenido no se ajuste a la línea */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
  }
  
  .cursor-info {
    margin: 10px 0;
  }
  
  .process-btn {
    align-self: flex-end;
    margin-top: 10px;
  }
  
  